@tailwind base;
@tailwind components;
@tailwind utilities;


.play {
    animation: playAnimation 1s infinite;
    transition: all 2s ease-in;
}

@keyframes playAnimation {
    from {
        transform: scale(0);
        opacity: 100;
    }
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

.border_none{
    border: none;
}